

<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Green-Tower</span>
    </a>

    <ul class="nav nav-pills">

      <li class="nav-item"><a href="/profile" class="nav-link">Profile</a></li>
      <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
    </ul>
  </header>
</div>

{{#each plants}}

<div class="card mb-3" style="max-width: 540px;">
   <div class="row g-0">
        <div class="col-md-4 tower">
           <img src="/{{this.img}}" class="plants-img">
        </div>
        <div class="col-md-8">
             <div class="card-body">
                 <div  class="card-inner">
                     <h5 class="card-title">{{this.plantname}}</h5>
                      <p class="card-text">{{this.description}} Season: {{this.season}} <br> Time to harvest: about {{this.timeToHarvest}} days <br> Ph value: {{this.phValue}}  <br> Fertilizer type: {{this.plantType}}</p>
                      <div class="btn-group">
                         <form method="POST" action="/plants/{{../towerId}}/{{this._id}}"> 
                            <button type="submit" class="profile-btns" align="right">add to tower</button>
                         </form>
                         <a href="/profile"><button type="submit" class="profile-btns" align="right">Profile</button></a>
        	            </div>
                  </div>  
             </div>
      </div>
   </div>
</div>
{{/each}}

