

<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Green-Tower</span>
    </a>

    <ul class="nav nav-pills">
     <li><a href="/logout" class="nav-link nav-item">Logout</a></li>
    </ul>
  </header>
</div>

<section class="tower-col">

{{!-- Headline --}}
<div style="width: 540px">
    <div class="tower">    
        <h1>YOUR TOWERS</h1>
    </div>
      <div class=" toRight"> 
    <a href="/create-new-tower"  class="fontSize nav-item text-decoration-none">create a new tower</a>
    </div>
</div>

{{!-- FIRST TOWER CARD--}}
<section >
    {{!-- naming:  --}}
    <div class="tower-col2">
{{#if naming}}
<form method="POST" action="/create-tower">
    <input type="towername" name="towername" placeholder="name your tower"  >
    <button type="submit" name="create-tower">create</button>
</form>
    <div> 
        <img src="images/Tower.png" id="towerpic">
        <p>You planted no plants yet! <br>
        Add plants below</p>
    </div>
  {{/if}}   
  </div>

<div>
    {{#each towers}}
    <div class="colour">
        <h1>{{this.towername}}</h1>
        <div class="toRight tower-col2">
             <form  method="POST" action ="/delete-tower/{{this._id}}">
                   <button style="background-color:#4169E1;" type="submit" class="btn btn-primary" align="right">DELETE TOWER</button>
              </form>
              <form  method="POST" action ="/edit-plants/{{this._id}}">
                  <button style="background-color:#4169E1;" type="submit" class="btn btn-primary" align="right">EDIT PLANTS</button>
              </form>
              <br>
        </div>

        {{#each this.plantId}}
            {{#if showButton}}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="card-body">
                    
                              <a href="/plants/{{../this._id}}"><button style="background-color:#4169E1;", type="loginbtn" class="btn btn-primary">add plant</button></a>

                        </div>
                            
                    </div>
                </div>
            {{else}}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 tower">
                             <img src="{{this.img}}"  class="plants-img">
                        </div>
                        <div class="col-md-8" >
                            <div class="card-body">
                                 <div  class="card-inner">
                                        <h5 class="card-title">{{this.plantname}}</h5>
                                        <p >{{this.description}}</p>      
                                        <div class="toRight tower-col2">
                                          <form  method="POST" action ="/delete-plant/{{../this._id}}/{{this._id}}">
                                               <button style="background-color:#87253e;" type="submit" class="btn btn-primary" align="right">-</button>
                                          </form>     
                                        </div>    
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
    {{/each}}
</div>
</section>
</section>



