

<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4"><img src="/images/greentower2.png" width="50%"></span>
    </a>

    <ul class="nav nav-pills">
     <li><a href="/logout" class="nav-link nav-item">Logout</a></li>
    </ul>
  </header>
</div>

<div class="tower-col">

    {{!-- Headline --}}
    <div>
      <div class="tower">    
        <h1>YOUR TOWERS</h1>
     </div>
     
    </div>

{{!-- FIRST TOWER CARD--}}
    <div >
    {{!-- naming:  --}}
         <div class="colour">
           
                 <div> 
                       <div class="align">
                         <img src="images/Tower.png" id="towerpic">
                         <div class="center-col">
                              <div class=" toRight"> 
         <a href="/create-new-tower"  class="fontSize nav-item text-decoration-none">create a new tower</a>
     </div>
                              {{#if naming}}
                                <form method="POST" action="/create-tower">
                                     <input type="towername" name="towername" placeholder="name your tower"  >
                                     <button type="submit" name="create-tower">create</button>
                                </form>
                               {{/if}} 
                                <div class="margin">
                                     <p> Add plants below</p>
                                </div>
                         </div>
                       </div>
                 </div>
         
    </div>

    <div >
    {{#each towers}}
    <div class="colour">
        <h1>{{this.towername}}</h1>
        <div class="toRight tower-col2">
             <form  method="POST" action ="/delete-tower/{{this._id}}">
                   <button type="submit" class="fontSize nav-item  btn-del" >DELETE TOWER</button>
              </form>
        </div>

        {{#each this.plantId}}
            {{#if showButton}}
                <div class="card mb-3 mycard">
                    <div class="row g-0">
                        <div class="card-body">
                    
                              <a href="/plants/{{../this._id}}"><button  type="loginbtn" class="btn btn-primary profile-btns">add plant</button></a>

                        </div>
                            
                    </div>
                </div>
            {{else}}
                <div class="card mb-3 mycard">
                    <div class="row g-0">
                        <div class="col-md-4 tower">
                             <img src="{{this.img}}"  class="plants-img">
                        </div>
                        <div class="col-md-8" >
                            <div class="card-body">
                                 <div  class="card-inner">
                                        <h5 class="card-title">{{this.plantname}}</h5>
                                        <p >{{this.description}}</p>      
                                        <div class="toRight tower-col2">
                                          <form  method="POST" action ="/delete-plant/{{../this._id}}/{{this._id}}">
                                               <button  type="submit" class="btn btn-primary profile-btns" align="right">-</button>
                                          </form>     
                                        </div>    
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
    {{/each}}
</div>
</div>
</div>



